[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
numpy = "*"
pandas = "*"
matplotlib = "*"
tensorflow = "==1.14.0"
keras = "==2.2.4"
ktrain = "*"
seaborn = "*"
flair = "*"
allennlp = "*"
pydot = "*"

[requires]
python_version = "3.7"
