[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
numpy = "*"
pandas = "*"
matplotlib = "*"
tensorflow = "==1.15.0"
ktrain = "==0.7.3"
seaborn = "*"
pydot = "*"
sklearn = "*"
scikit-learn = "*"

[requires]
python_version = "3.6"
